.card {
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    margin-bottom: 16px;
    padding: 16px;
    gap: 16px;
    width: 100%;
}

.content {
    flex: 1;
}

.content p {
    color: #333333;
    margin: 0;
    font-size: 0.9rem;
}